@{
    ViewBag.Title = "Delete Category Page";
}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="~/MatSheet.css" rel="stylesheet" type="text/css" />


<nav class="dnav">
    <div class="nav-wrapper">
        <a href="Index" class="brand-logo center">Northwind</a>
        <!--<img src="IWLogo.jpg" alt="Main Logo" class="mlogo">-->
    </div>
</nav>
<br />
<br />

<div class="Bbutton">
    <a class="btn-floating btn-large waves-effect waves-light red" id="bacbutd" href="DeletePage"><i class="material-icons">arrow_back</i></a>
</div>

<h2>Delete Category Page</h2>

<div class="submitpage">
    <h2>Deleted Category.</h2>

    <h3>The Category That Was Deleted Was:</h3>

    Category Name:        @ViewBag.Name <br />

</div>


