
@{
    ViewBag.Title = "Edit Shippers Form";
}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="~/MatSheet.css" rel="stylesheet" type="text/css" />

<nav class="enav">
    <div class="nav-wrapper">
        <a href="Index" class="brand-logo center">Northwind</a>
        <!--<img src="IWLogo.jpg" alt="Main Logo" class="mlogo">-->
    </div>
</nav>
<br />
<br />

<body>

    <div class="Bbutton">
        <a class="btn-floating btn-large waves-effect waves-light red" id="bacbute" href="EditShippersPage"><i class="material-icons">arrow_back</i></a>
    </div>
    <br />


    <form action="EditShippers" class="mainform">
        <div class="subform">
            <h2 class="edit">Edit Shipper Form</h2>
            <br />
            <p class="editdir">Please Enter the Following:</p>
            <br /><br /><br />

            <div class="inputdiv">
                ID:         <input type="number" name="id" value="@ViewBag.Shipper.ShipperID" disabled><br />
            </div>

            <div class="row">
                <div class="inputdiv3">
                    Company Name:         <input type="text" name="compname" value="@ViewBag.Shipper.CompanyName">
                </div>
                <div class="inputdiv3">
                    Phone:         <input type="text" name="phone" value="@ViewBag.Shipper.Phone">
                </div>
            </div>
        </div>

        <div class="BContainer">
            <div class="#">
                <button class="btn waves-effect waves-light" id="icedit" type="reset" name="reset">Reset</button>
            </div>
            <div class="#">
                <button class="btn waves-effect waves-light" id="icedit" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
            </div>
        </div>

    </form>
</body>

<footer class="page-footer" id="efooter">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Created By Ivensky Watermann</h5>
                <p class="grey-text text-lighten-4">Everyone needs a Northwind Project.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright by Victor Czar Ivansky Inc.
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="materialize.js"></script>
<script src="nwjs.js"></script>
