
@{
    ViewBag.Title = "Edit Employees Page";
}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="~/MatSheet.css" rel="stylesheet" type="text/css" />


<nav class="enav">
    <div class="nav-wrapper">
        <a href="Index" class="brand-logo center">Northwind</a>
        <!--<img src="IWLogo.jpg" alt="Main Logo" class="mlogo">-->
    </div>
</nav>
<br />
<br />

<div class="Bbutton">
    <a class="btn-floating btn-large waves-effect waves-light red" id="bacbute" href="EditPage"><i class="material-icons">arrow_back</i></a>
</div>

<h2 class="edit">Edit Employees Page</h2>
<br />


<table class="mtable">
    <thead class="ehead">
        <tr>
            <th>Edit</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Title</th>
        </tr>
    <thead>

    <tbody>
        @foreach (var e in ViewBag.AListofEmployees)
        {
            <tr class="rowedit">
                <td><a class="btn-floating btn-large waves-effect waves-light red" id="icedit" href="EditEmployeesForm?id=@e.EmployeeID"><i class="material-icons">edit</i></a></td>
                <td>@e.LastName</td>
                <td>@e.FirstName</td>
                <td>@e.Title</td>
            </tr>
        }
    <tbody>
</table>

<footer class="page-footer" id="efooter">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Created By Ivensky Watermann</h5>
                <p class="grey-text text-lighten-4">Everyone needs a Northwind Project.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright by Victor Czar Ivansky Inc.
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>