

@{
    ViewBag.Title = "Insert Form";
}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="~/MatSheet.css" rel="stylesheet" type="text/css" />


<nav class="inav">
    <div class="nav-wrapper">
        <a href="Index" class="brand-logo center">Northwind</a>
        <!--<img src="IWLogo.jpg" alt="Main Logo" class="mlogo">-->
    </div>
</nav>
<br />
<br />


<div class="Bbutton">
    <a class="btn-floating btn-large waves-effect waves-light red" id="bacbuti" href="InsertPage"><i class="material-icons">arrow_back</i></a>
</div>
<br />


<form action="InsertCategory" class="mainform">

    <h2 class="insert">Add New Category Form</h2>
    <br />
    <p class="insertdir">Please Enter the Following:</p>
    <br /><br /><br />

    <div class="caterow">
        <div class="catename">
            Category Name:         <input type="text" name="name" placeholder="Category Name">
        </div>
        <div class="catedesc">
            Description:         <input type="text" name="desc" placeholder="Description">
        </div>
    </div>
    <br />

    <div class="BContainer">
        <div class="#">
            <button class="btn waves-effect waves-light" id="icinst" type="reset" name="reset">Reset</button>
        </div>
        <div class="#">
            <button class="btn waves-effect waves-light" id="icinst" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
        </div>
    </div>
</form>

<footer class="page-footer" id="ifooter">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Created By Ivensky Watermann</h5>
                <p class="grey-text text-lighten-4">Everyone needs a Northwind Project.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright by Victor Czar Ivansky Inc.
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="materialize.js"></script>
<script src="nwjs.js"></script>


